table,td {
	 border: 1px solid black;
}
table {
	margin: auto;
	text-align: center;
	width: 50%;
	}
h1 {
	text-align:center;
	
}
.pavad{
	text-align: center;
}
.eil{
	height: 50 px;
	background-color:pink;
}